<form action="/new-box" method="post">
    <label for="item_name">Name of the Item:</label>
    <input type="text" id="item_name" name="item_name" required><br/>
    <label for="content_QTY">Quantity of Content:</label>
    <input type="Number" id="content_QTY" name="content_QTY" required><br/>
    <button type="submit">Submit a new Box</button>
</form>

<h3>{{boxAlert}}</h3>

<a href="/boxes"><h2>Back</h2></a>

