/* /* header styles */
#logo-img{ 
    margin-left:100px;
    height: 50px;
    width: 200px; 
    margin-bottom: 70px;  
}

.banner-img {
    height: 450px;
}


/* main-button styles */
#warehouses-button{ 
  color :antiquewhite;
  text-decoration: none;
    
}

.btn-lg{
  background-color: rgb(52, 4, 184);
  
}
.main-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* employee-news-section styles */
.news-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.employees{
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%; 
    margin-top: 2cm;   
    
}

/* FAQ -section styles */

.faq-sec-img{
    width:550px;
    height:550px;
    margin-left:5%;
}

/* ------- Fotter-Styles -------- */

.footer{
    align-items: center;
    margin-top:1.5in;
    margin-bottom:1cm;    
}

.social-icons{    
    display:flex;
    justify-content: center;
}

.icons-img{
    margin-left: .2cm;
    margin-right: .2cm;
}

.copyright small{
    margin-top:1cm;
    display:flex;
    justify-content: center;
}

/* warehouses handlebar styles */


.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  /* warehouse- styles */
  .signle-warehouse-card{
    justify-content: center;
    align-items: center;
  }
  .item-img{
    height: 200px;
    width:350px;
    
  }